#cartel_header{
  background-color: #FFD53B;
  color:black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#cartel_body{
  background-color: #FFA856;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#cartel{
  border:0;
  border-radius: 10px;
  background-color: #000;
}
