#body {
    background-image: url(https://img.freepik.com/free-vector/retro-styled-pattern-background_1048-6593.jpg?size=338&ext=jpg);
    color: #636b6f;
    font-family: 'Kelly Slab', cursive;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.articulo{
  background-color: #FFA856;
  border-radius: 10px;
}
